body{
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(13, 47, 66);
}
.field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
canvas{
    width: 90%;
    height: 85vh;
    background-color: white;
}
.tools{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}
.tools .button{
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    margin: 0 15px;
    color: white;
    background-color:rgb(13, 47, 66);
    font-weight: bold;
}
